<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eclipsesource.tabris_redux_example" version="0.1.0">
  <name>Tabris.js Redux Example</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="eahmadov@eclipsesource.com">
    Elmi Ahmadov
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
